html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
*{
    margin: 0;
    padding: 0;
    font-family: UVN;
    transition: all 0.2s ease;
}
@font-face{
    font-family: UVN;
    src: url(fonts/UVNBaiSau_R/UVNBaiSau_R.TTF);
}
@font-face{
    font-family: PopLight;
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}
@font-face{
    font-family: PopMid;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
}
@font-face{
    font-family: PopBold;
    src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: PopVeryBold;
    src: url(./fonts/Poppins/Poppins-Black.ttf);
}
.portfolio{
    /*background: radial-gradient(#F2B0E8,#F1CAEB);*/
    min-height: 900px;
    width: 100%;
    overflow: hidden;
}
.head-space{
    width: 100%;
    height: 40px;
}
.headhead{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: rgb(243, 243, 243);
    z-index: 2;
    box-shadow: -10px 5px 15px rgb(0, 0, 0);
}
.headhead a{
    text-decoration: none;
}
.header{
    width: 90%;
    height: 40px;
    margin: auto;
}
.menu-icon{
    height: 20px;
    width: 20px;
    cursor: pointer;
    float: left;
}
.menu-icon img{
    height: 20px;
    width: 20px;
}
.close-menu{
    display: none;
}
.logo{
    float: left;
    width: 100px;
    font-size: x-large;
    font-weight: 700;
    font-family: PopVeryBold;
}
.logo a{
    color: rgb(73, 73, 73);
}
.button{
    float: right;
    width: 80%;
    height: 40px;
}
.search{
    float: left;
    display: none;
}
.search input{
    width: 300px;
    height: 30px;
    margin-top: 5px;
    border: transparent;
    border-radius: 3%;
    padding-left: 10px;
    background-color:rgb(228, 228, 228);
    font-size: medium;
    font-family: PopMid;
}
.search button{
    width: 100px;
    height: 30px;
    margin-top: 5px;
    padding-bottom: 3px;
    border: transparent;
    border-radius: 5%;
    font-size: medium;
    font-weight: bold;
    background-color:rgb(198, 190, 214);
}
.search button:hover{
    border: solid black;
}
.khoa-button{
    width:100%;height:100%;
    cursor: pointer;
    border-left: solid rgb(54, 54, 54);
    border-right: solid rgb(54, 54, 54);
}
.khoa-button:hover{
    background-color: rgb(54, 54, 54);
}
.khoa-button:hover p{
    color:white;
}
.khoa-button p{
    text-align: center;
    padding-top: 8px;
    color:black;
    font-family: PopMid;
}
.khoa-button:hover ~ .list-khoa{
    display: inherit;
}
.list-khoa:hover{
    display: inherit;
}
.list-khoa{
    width:250px;
    list-style-type: none;
    display: none;
}
.list-khoa a{
    color:white;
}
.list-khoa a:hover li{
    background-color: rgb(243, 243, 243);
    color: black;
    border-left: solid black;
    border-right: solid black;
    width: 97.5%;
}
.list-khoa li{
    height: 50px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    text-align: center;
    border-bottom: solid white;
}
.list-khoa li p{
    padding-top: 12px;
}
.button-khoa-list:hover .khoa-button{
    background-color: rgb(54, 54, 54);
    
}
.button-khoa-list:hover .khoa-button p {
    color: white;
}
.log{
    float: right;
    width: 55%;
    height: 40px;
}
.log input{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    border: transparent;
    border-radius: 3%;
    padding-left: 10px;
    background-color:rgb(228, 228, 228);
    font-size: medium;
    font-family: PopMid;
}
.log button{
    width: 100px;
    height: 30px;
    margin-top: 5px;
    border: transparent;
    border-radius: 5%;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 3px;
    background-color:rgb(198, 190, 214);
}
.log button:hover{
    border: solid black;
}
.login{
    float: left;
}
.login-guess{
    width: 80%;
    margin-left:23px;
    display: flex;
}
.login-guess:hover button{
    background-color:rgba(0, 102, 255, 0.733);
    color: white;
}
.login-guess button{
    width: 100px;
}
.login-open-button:hover{
    color: white;
}
.guess-lich{
    width:250px;height:200px;background-color:black;color:white;margin-left:20px;
    text-align: center;
    border-radius: 2rem;
    font-size: 20px;
}
.guess-lich p:first-child{
    font-size: 30px;
}
.guess-lich div{
    width:90px;
    height:37px;
    background-color:white;
    color:black;
    margin:25% auto;
    cursor:pointer;
    padding:10px;
    padding-top: 15px;
    border-radius:2rem;
    font-size: 18px;
}
.guess-lich div:hover{
    background-color:rgba(0, 102, 255, 0.733);
    color:white;
}
.logout{
    float: right;
}

.signup{
    float: right;
    width: 75px;
    padding-left: 25px;
    height: 31px;
    margin-top: 3.5px;
    border: transparent;
    border-radius: 5%;
    background-color:rgb(0, 0, 0);
    color: white;
    font-size: medium;
    font-weight: bold;
}

.v-nav{
    position: fixed;
    height: 100vh;
    width: 4.3vw;
    margin-top: -40px;
    background-color: rgb(243, 243, 243);
    transition: 0.05s;
    z-index: 2;
    box-shadow: 0px 50px 20px rgb(0, 0, 0);
}

.profile-link{
    font-size: 1.6rem;
    color: black;
    margin-left: 40%;
}
.profile-link:hover{
    text-decoration: underline;
}
/*.v-nav:hover{
    width: 12vw;
}
.v-nav:hover .icon-name{
    display: inherit;
}
.v-nav:hover ~ .wrapper{
    width: 87.1vw;
}*/
.house{
    text-decoration: none;
    height: 85px;
    width: 83px;
}
.house:hover{
    background-color: black;
}
.icon-li:hover .house:before{
    color:  rgb(255, 255, 255);
}
.house:before{
    content: '\f015';
    font-family: fontAwesome;
    font-size:80px;
    color:  rgb(0, 0, 0);
    margin-left:5px;
}
.lbulb{
    text-decoration: none;
    height: 85px;
    width: 83px;
}
.lbulb:hover{
    background-color: black;
}
.icon-li:hover .lbulb:before{
    color:  rgb(255, 255, 255);
}
.lbulb:before{
    content: '\f0eb';
    font-family: fontAwesome;
    font-size:80px;
    color:  rgb(0, 0, 0);
    margin-left:20px;
}
.scroll{
    text-decoration: none;
    height: 75px;
    width: 83px;
    padding-top: 10px;
}
.scroll:hover{
    background-color: black;
}
.icon-li:hover .scroll::before{
    color:  rgb(255, 255, 255);
}
.scroll:before{
    content: '\f1ea';
    font-family: fontAwesome;
    font-size:70px;
    color:  rgb(0, 0, 0);
}
.v-nav ul .icon-li{
    max-height: 70px;
    padding-bottom: 15px;
    display: flex;
}
.icon-li:hover{
    background-color: black;
}
.icon-li:hover .icon-name{
    color: white;
}
.v-nav .icon-name{
    font-size: 25px;
    margin-top: 23px;
    margin-left: 10px;
    display:none;
}
.menu-icon {
    width: 40px;
    height: 40px;
    margin-left: 23px;
}
.menu-icon img{
    width: 100%;
    height: 100%;
    
}
.menu-icon img:hover{
    border-bottom: solid black;
}
.cross-bar{
    width: 100%;
    height: 2px;
    background-color:rgb(116, 116, 116);
    margin-top: 18px;
}
.wrapper{
    margin-top: -45px;
    float: right;
    width: 94.8vw;
    min-height: 1000px;
    background-color: rgb(255, 255, 255);
    transition: 0.05s;
}
/*content section*/
.tintuc{
    color: white;
    width: 100%;
    min-height: 96vh;
    background-image: url(images/toppng.com-textured-backgrounds-for-websites-1920x1200.jpg)
}
.new{
    height: 50px;
    width: 500px;
    padding-left: 25px;
    border-bottom: solid;
}
.section1{
    min-height: 300px;
    width: 100%;
}
.section1 .posts{
    width:30%;
    height: 300px;
    margin-left: 20px;
    position: relative;

}
.section1 img{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: -10px 0px 20px rgb(0, 0, 0);
}
.section1 .posts-content{
    width: 100%;
    height: 100%;
    position: relative;
    opacity : 0;
    transition: opacity 0.5s;
    background-color: black;
}
.section1 .posts:hover .posts-content{
    opacity: 0.8; 
}
.section2{
    height: 200px;
    width: 100%;
}
.section3{
    height: 200px;
    width: 100%;
}
.layer-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}
.section-title{
    height: 20%;
    width: 100%;
    margin-left:50px;margin-top:25px;
}
.image-rank {
    opacity: 0.0;
    transition: 0.5s opacity;
}
.image-rank:hover {
    opacity: 0.8;
}
/*chuan doan benh*/
.chuandoan{
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(23, 23, 66);
    position: relative;
}
.prediction{
    width:100%;min-height:100%;
    color: white;
    position: relative;
    z-index: 1;
    margin-top: -30px;
    transition: all 0.5s;
}
.prediction2{
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 1;
}
.backimg{
    width: 100%;
    height: 400px;
    bottom: 0%;
    position: absolute;
    z-index: 0;
}
/*checkbox style*/
input[type=checkbox]{
    display: none;
}
.prediction label:hover{
    color: rgb(214, 51, 83);
}
.prediction label{
    width: 80px;
    height: 80px;
    position: relative;
    transition: background-color 0.4s;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 0px;
}
.prediction input:checked + label::after{
    opacity: 1;
}
.prediction input:checked + label {
    color: rgb(214, 51, 83);
}
.prediction input:checked:hover + label {
    color: rgb(212, 167, 176);
}
.prediction label::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 50px;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    right: 40%;
    top:-40%;
    transform: rotateZ(40deg);
    opacity: 0;
}
.box{
    display: inline-flex;
    font-size: 2rem;
}
.box1{
    margin-top: 50px;
    margin-left: 50px;
}
.box2{
    margin-top: 50px;
    margin-left: 50px;
}
.box3{
    margin-top: 50px;
    margin-left: 50px;
}
.Submit-predic{
    width:70px;height:40px;background-color:white;color:black;margin:auto;padding-left:15px;padding-top:10px;font-size:20px;
    cursor: pointer;
}
.Submit-predic:hover{
    color:white;
    background-color: rgb(23, 23, 66);
}
.icon-orange{
    width: 13px;
    height: 13px;
    margin-top: 7px;
    background-color: orange;
    border: solid thin white;
    transform: rotate(45deg);
}
.fakename{
    color:orange;
}
/*chuan doan benh*/
.datlich{
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(23, 23, 66);  
}
/*dat lich*/
.picpic{
    width: 530px;
    height: 550px;
    background-color: white;
}
/*leftttttttttttttttttt*/
.left-pic{
    border-radius: 0 5rem 5rem 0;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 5px 50px rgb(0, 0, 0);
}
.left-img{
    height: 100%;
    position: absolute;
    margin: auto;
}
.img-desc{
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 0 5rem 5rem 0;
    transform: translateX(-100%);
    transition: all 0.5s;
}
.left-pic:hover > .img-desc{
    transform: translateX(0);
    transition: all 0.5s;
}
.img-desc ul{
    margin-top: 30px;
    list-style-type: none;
    padding-left: 10px;
}
.img-desc img{
    width: 20px;
    height: 20px;
    position: relative;
}
/*righttttttttttttttttttt*/
.right-pic{
    border-radius: 5rem 0 0 5rem;
    position: relative;
    overflow: hidden;
    box-shadow: -10px 5px 50px rgb(0, 0, 0);
}
.right-img{
    height: 100%;
    margin-left: -150px;
    position: absolute;
}
.img-desc2{
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 5rem 0 0 5rem;
    transform: translateX(100%);
    transition: all 0.5s;
}
.right-pic:hover > .img-desc2{
    transform: translateX(0);
    transition: all 0.5s;
}
.img-desc2 ul{
    margin-top: 30px;
    list-style-type: none;
    padding-left: 10px;
}
.img-desc2 img{
    width: 20px;
    height: 20px;
    position: relative;
}

.profile-window{
    transform: translatey(85%);
}

/*order form (mid)*/
.order-form{
    width: 30%;
    background-color: rgb(33, 32, 85);
    min-height: 530px;
    margin: auto;
    border-radius: 2rem;
    border: solid white;
    margin-top: -80px;
}
.order-form form{
    width: 56%;
    height: 100%;
    margin: auto;
}
.order-form form input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border: transparent;
    border-radius: 3%;
    padding-left: 10px;
    font-size: medium;
    font-family: PopMid;
}
.tags-select{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border: transparent;
    border-radius: 3%;
    padding-left: 10px;
    font-size: medium;
    font-family: PopMid;
}
/*auto switch pages*/
#s1{
    padding-top: 50px;
    height: 96vh;
    width: 100% ;
    scroll-snap-align: center;
}
#s2{
    height: 100vh;
    padding-top: 50px;
    width: 100% ;
    scroll-snap-align: center;
}
#s3{
    height: 100vh;
    padding-top: 50px;
    width: 100% ;
    scroll-snap-align: center;
    background-color: rgb(39, 39, 66);  
}
/*footer*/
.footer{
    float: right;
    width: 100vw;
    height: 300px;
    position: unset;
    bottom: 0px;
    background-color: black;
    color: white;
    padding-top: 20px;
}
.footer a{
    text-decoration: none;
    color: rgb(212, 211, 211);
}
.footer a:hover{
    text-decoration: underline;
}
.col{
    margin-left: 100px;
    margin-right: 100px;
}

/*SignUp page*/
.wrapper-signup{
    width: 100vw;
    min-height: 90vh;
    padding-top: 50px;
    background-color: royalblue;
}

/*--------------------------*/
.error-mess{
    color: red;
}
/*--------------------------*/
/*profile*/
.profile-wrapper{
    width: 100vw;
    min-height: 80vh;
    background-color: yellowgreen;
}
.lichtitle{
    font-weight: bolder;
    font-size: 35px;
}
.fulllichhen{
    width: 50vw;
    min-height: 100px;
    display: flex;
}
.lichhen{
    width: 230px;
    height: 160px;
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10%;
    padding-top: 20px;
    padding-left: 10px;
}


/*dr list*/
.drlink{
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.drlink:hover{
    color: rgb(148, 0, 165);
}
/*dr list profile*/
.form-popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    position: fixed;
    margin-top: -48%;
    display: none;
    
}
/*comment section*/
.rate-star:before{
    content: '\f005';
    font-family: fontAwesome;
    font-size:30px;
    color:  rgb(255, 174, 0);
}

.rating{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    float:left;
    width: 180px;
}
.rating input{
    display: none;
    position: relative;
}
.rating label{
    display: block;
    cursor: pointer;
    width: 30px;
    position: relative;
}
.right-star:before{
    content: '\f089';
    font-family: fontAwesome;
    font-size:30px;
    color: white;
    position: absolute;
}
.right-star:after{
    content: '\f089';
    font-family: fontAwesome;
    font-size:30px;
    color: rgb(255, 174, 0);
    position: absolute;
    opacity: 0;
    transition: .3s;
}
.left-star:before{
    content: '\f089';
    font-family: fontAwesome;
    font-size:30px;
    color: white;
    position: absolute;
    transition: .3s;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: -18px;
}
.left-star:after{
    content: '\f089';
    font-family: fontAwesome;
    font-size:30px;
    color:  rgb(255, 174, 0);
    position: absolute;
    opacity: 0;
    transition: .3s;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: -18px;
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1;
}
#comment-name{
    width: 400px;
    height: 40px;
}


/*radiobutton*/
.radio_wrap input[type="radio"]{
    display: none;
}
.radio_wrap div{
    width: 150px;
    height: 35px;
    background-color: rgb(0, 190, 0);
    color:white;
    font-size:1.4rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 3px;
    transition: background-color 0.5s;
}
.radio_wrap:hover div{
    background-color: green;
}
.radio_wrap input:checked ~ div{
    background-color: green;
}
.content{
    overflow: hidden;
    width: 100%;
    height: 500px;
}
.delete-button{
    width: 50px;
    height: auto;
    text-align: center;
    cursor: pointer;
}
.delete-button:hover{
    background-color: teal;
    color: white;
}
.delete-button h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}


/*ADMIN*/
.admin-body{
    background: url('images/—Pngtree—blue flat business office background_1145817.jpg') no-repeat top center;
    background-size: cover;
}
.ad-dk{
    width:550px;
    height:400px;
    background-color: black;
    opacity: 0.85;
    border-radius: 3rem;
    text-align: center;
}
.ad-dk h1{
    color: white;
    opacity: 1;
}
.ad-dk .input-fields{
    display: inline-flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields input {
    margin: 10px 0;
    font-size: 20px;
    background: transparent;
    border: 0;
    width: 200px;
    height: 30px;
    border-bottom: 2px solid white;
}
.input-fields input:focus{
    color:white
}
.input-fields ::-webkit-input-placeholder{
    color: white;
}
.input-fields ::-moz-input-placeholder{
    color: white;
}
.input-fields ::-ms-input-placeholder{
    color: white;
}
.input-fields input[type=text]{
    color:white;
}
.ad-dt input:focus{
    color:white
}
.ad-dt ::-webkit-input-placeholder{
    color: white;
}
.ad-dt ::-moz-input-placeholder{
    color: white;
}
.ad-dt ::-ms-input-placeholder{
    color: white;
}
.ad-dt input[type=text]{
    color:white;
}

.ad-login form input:focus{
    color:white
}
.ad-login form ::-webkit-input-placeholder{
    color: white;
}
.ad-login form ::-moz-input-placeholder{
    color: white;
}
.ad-login form ::-ms-input-placeholder{
    color: white;
}
.ad-login form input[type=text]{
    color:white;
}
.dr-pro-change{
    display:flex;border:solid black;width:99.7vw;height:70px;
}
.dr-pro-change form input{
    width: 250px;
    margin-left: 50px;
    margin-top: 25px;
}
.dr-pro-change form button{
    width: 100px;
    height: 50px;
    background-color:  rgb(26, 11, 112);
    color:white;
}
.input-fields button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 0;
    font-size: 20px;
}
.input-fields button:hover{
    background-color: royalblue;
    color: white;
}
.ad-x{
    margin-top: 100px;
    margin-left: 100px;
}
.ad-dt{
    width:550px;
    height:300px;
    background-color: rgb(0, 82, 37);
    opacity: 0.85;
    border-radius: 3rem;
    text-align: center;
    margin-right: 50px;
}
.ad-dt h1{
    color: white;
    opacity: 1;
}
.ad-dt input{
    margin: 10px 0;
    font-size: 15px;
    background: transparent;
    border: 0;
    width: 250px;
    height: 30px;
    border-bottom: 2px solid white;
}
.ad-dt input:focus{
    color: white;
}
.ad-dt .input-file-post{
    border: 0;
}
.ad-dt button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 0;
    font-size: 20px;
}
.ad-dt button:hover{
    background-color:  rgb(0, 66, 30);
    color: white;
}
/*-------------*/
.ad-login{
    width:550px;
    height:200px;
    background-color: rgb(18, 0, 43);
    opacity: 0.9;
    border-radius: 3rem;
    text-align: center;
    margin:auto;
}
.ad-login h1{
    color: white;
    opacity: 1;
}
.ad-login input{
    margin: 10px 0;
    font-size: 15px;
    background: transparent;
    border: 0;
    width: 250px;
    height: 30px;
    border-bottom: 2px solid white;
}
.ad-login input:focus{
    color:white;
}
.ad-login button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 0;
    font-size: 20px;
}
.ad-login button:hover{
    background-color:  rgb(10, 0, 66);
    color: white;
}
.admin-logout{
    background-color: white;
    border: 0;
}
.admin-logout:hover{
    background-color:  rgb(20, 0, 66);
    color: white;
}
.admin-logout{
    background-color: white;
    border: 0;
}
.admin-logout:hover{
    background-color:  rgb(20, 0, 66);
    color: white;
}

/*pre style*/
.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    min-height: 660px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:  0px 0px 35px rgba(0, 0, 0, 0.9);

}
.form-style-8 form label{
    color: black;
}
.form-style-8 h2{
	background: #c4c4c4;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #1f1f1f;
	font-size: 18px;
	font-weight: 100;
    padding: 15px;
    border-radius: 2rem;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 button{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
/*--------------------------------*/
.form-style-10{
	width:450px;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h1{
	background: #4e2601;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}
.form-style-10 .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.form-style-10 form button{
	background: #4e2601;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
/*-------------------------*/

/*pre style*/